*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.App {
    font-family: "Inter", sans-serif;
    color: white;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.MainBody{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    padding: 5px 20px;
    background-color: #7697a0;
}

/* Color palette
#4a707a
#7697a0
#94b0b7
#c2c8c5
#ddddda
*/